
mysqlServer/Data/\#ib_16384_0.dblwr
mysqlServer/Data/\#ib_16384_1.dblwr
mysqlServer/Data/auto.cnf
mysqlServer/Data/ca-key.pem
mysqlServer/Data/ca.pem
mysqlServer/Data/client-cert.pem
mysqlServer/Data/client-key.pem
mysqlServer/Data/ib_buffer_pool
mysqlServer/Data/ibdata1
mysqlServer/Data/ibtmp1
mysqlServer/Data/mysql.ibd
mysqlServer/Data/mysql_upgrade_history
mysqlServer/Data/private_key.pem
mysqlServer/Data/public_key.pem
mysqlServer/Data/server-cert.pem
mysqlServer/Data/server-key.pem
mysqlServer/Data/TOMS-LAPTOP*
mysqlServer/Data/undo_001
mysqlServer/Data/undo_002
mysqlServer/my.ini
