:root {
    --color-header-bg-1: #ccc;
    --color-header-bg-2: #000;
    --color-header-bg-hover-1: #777;
    --color-header-bg-hover-2: #333;
    --color-main-bg: #eee;
    --color-main-fg: #333;
    --color-radio-hover-1: #33333380;
    --color-radio-hover-2: #cccccc80;
    --display-sun: block;
    --display-moon: none;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-header-bg-1: #000;
        --color-header-bg-2: #ccc;
        --color-header-bg-hover-1: #333;
        --color-header-bg-hover-2: #777;
        --color-main-bg: #333;
        --color-main-fg: #eee;
        --color-radio-hover-1: #cccccc80;
        --color-radio-hover-2: #33333380;
        --display-sun: none;
        --display-moon: block;
    }
}
*:not(nav a):focus-visible {
    outline: solid var(--color-main-fg) 0.3em;
    z-index: 100;
}
#main {
    padding: 4.5em 1em;
}
#moon {
    display: var(--display-moon);
}
#sun {
    display: var(--display-sun);
}
#moon, #sun {
    border-radius: 50%;
    padding: 0.5em;
    transition: transform 0.5s;
    background-color: var(--color-main-bg);
    color: var(--color-main-fg);
}
#moon:hover,
#sun:hover {
    background-color: var(--color-main-fg);
    color: var(--color-main-bg);
}
#wave {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30vw;
    width: 100%;
    max-height: 50%;
    pointer-events: none;
}
.active {
    background-color: var(--color-main-bg);
    color: var(--color-main-fg);
}
.changeTheme {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 5em;
    height: 5em;
    padding: 0;
    border-width: 0;
    border-radius: 50%;
}
.changeTheme:hover #moon {
    transform: rotate(360deg);
}
.changeTheme:hover #sun {
    transform: rotate(180deg);
}
.form {
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: 1em;
    align-items: center;
    height: min-content;
    padding: 1em;
}
.form button {
    border: solid 0.15em var(--color-main-fg);
    border-radius: 5%;
    font-size: 1em;
    background-color: var(--color-main-bg);
    color: var(--color-main-fg);
}
.form button:hover {
    background-color: var(--color-radio-hover-1);
    background-blend-mode: saturation;
}
.form input {
    color: var(--color-main-fg);
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--color-main-bg);
    color: var(--color-main-fg);
}
input {
    border-style: solid;
    border-radius: 2%;
    background-color: var(--color-header-bg-1);
    border-color: var(--color-header-bg-2);
}
nav {
    position: fixed;
    text-align: center;
    list-style-type: none;
    padding-top: 0.75em;
    width: 100%;
    height: 3.5em;
    background-color: var(--color-header-bg-1);
    border-bottom-width: 2px;
}
nav a {
    display: inline-block;
    position: relative;
    height: 100%;
    line-height: 3.5em;
    padding: 0 1em 0 1em;
    margin: 0 0.5em 0 0.5em;
    text-decoration: none;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    transition: background-color 0.3s;
    color: var(--color-header-bg-2);
}
nav a:focus-visible {
    outline: none;
    box-shadow: 0 -2px 0px 2px var(--color-main-fg);
    z-index: 100;
}
nav a:before,
nav a:after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    border-bottom: 0.5em solid;
    pointer-events: none;
    transition: all 0.3s;
    color: var(--color-main-bg);
}
nav a:before {
    left: -100%;
    border-right: 0.5em solid;
    border-bottom-right-radius: 1em;
}
nav a:after {
    right: -100%;
    border-left: 0.5em solid;
    border-bottom-left-radius: 1em;
}
nav a:hover {
    border-color: initial;
    border-width: 0;
    transition: background-color 0s;
    background-color: var(--color-main-bg);
}
nav a:hover:before,
nav a:hover:after,
.active:before,
.active:after {
    display: block;
}

#radio-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin-bottom: 5em;
}
.radio-player {
    width: 7em;
    height: 7em;
    margin: 0 0.5em 4em;
}
.radio-link {
    display: block;
    position: relative;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}
.radio-del {
    display: block;
    position: relative;
    width: 3em;
    height: 3em;
    margin: 0 1.5em;
    padding: 0.5em;
    border-radius: 25%;
    cursor: pointer;
    transform: translateY(-4em);
    transition: 0.3s;
    z-index: -10;
}
.radio-link:hover,
.radio-del:hover {
    background-color: var(--color-radio-hover-1);
    background-blend-mode: saturation;
}
/*.radio-player:before {
    display: inline-block;
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border-radius: inherit;
    background-color: var(--color-main-fg);
    width: 50%;
    height: 50%;
    pointer-events: none;
    margin: 7.5em 25% 0px;
}*/
.radio-link:before {
    display: none;
    position: absolute;
    content: "";
    background: url('data:image/svg+xml; utf8, <svg width="7em" height="7em" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><rect rx="50" width="50" height="50" stroke="none" fill="black" style="opacity: 0.5;" /><path d="m11.4904,36.85294l13.25319,-23.19306l13.25319,23.19306l-26.50636,0l13.25319,-23.19306" transform="translate(4) rotate(90, 24.7436, 25.2564)" stroke="white" stroke-width="0.2em" stroke-linejoin="round"/></svg>') no-repeat center;
    width: inherit;
    height: inherit;
}
.radio-link.radio-active:before {
    display: block;
}
.radio-link:hover + .radio-del,
.radio-del:hover,
.radio-link:focus-visible + .radio-del,
.radio-del:focus-visible {
    transform: translateY(-1em);
    z-index: 1;
}