/* #region General */
* {
    --color-background: #131313;
    --color-foreground: white;
    --color-edit: rgb(182, 182, 182);
    --color-edit-border: #555555;
}
* {
    box-sizing: border-box;
}
.cursor-pointer {
    cursor: pointer;
}
.noborder {
    outline: none !important;
}
.noedit {
    pointer-events: none;
}
.noselect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.pointer-events-all {
    pointer-events: all;
}
/* #endregion */

/* #region Main Layout */
body {
    margin: 0;
    padding: 1em;
    height: 100%;
    background-color: var(--color-background);
    color: var(--color-foreground);
}
h3 {
    width: 100%;
    height: 2em;
    margin: 0 0 -1em 0;
    border: solid var(--color-foreground) 2px;
    border-bottom: none;
    text-align: center;
    line-height: 1.5em;
}
menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 0.5em;
    list-style: none;
}
menu li {
    line-height: 1.5em;
    text-align: center;
}
menu button {
    width: 5em;
    height: 3em;
    border: 2px solid #717171;
    border-radius: 100vw;
}
menu .switch {
    margin-top: 0.5em;
}
#ground,
#output {
    position: relative;
    width: 100%;
    min-height: 20em;
    padding: 1em;
    border: solid var(--color-foreground) 2px;
}
#output {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    user-select: text;
}
#output > span {
    display: inline-block;
    text-align: center;
    padding-top: 1em;
}
#output > pre {
    height: calc(100% - 16px);
    padding: 1em;
    margin: 0;
    overflow: auto;
}
#output > *:first-of-type {
    border-right: solid var(--color-foreground) 2px;
}
#output > * {
    width: 50%;
}
#ground > .field {
    display: block;
    width: 2.5em !important;
}
#ground *:not(#editMenu):not(#editMenu *):not(:has(*:hover)):hover {
    background-color: rgb(161, 159, 255);
    filter: brightness(75%);
}
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    height: min-content;
}
/*#main > *:not(#ground):not(#output) > * {*/
#presets > *,
#standard > * {
    max-width: 4.5em;
    width: min-content;
    margin-top: auto;
    text-align: center;
    cursor: pointer;
}
#presets,
#standard {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75em;
    width: calc(50% - 0.5em);
    height: 100%;
    padding: 1em;
    border: solid 2px var(--color-foreground);
}
#presets > * > *,
#standard > * > * {
    margin: 0 auto 0.25em;
}
.field {
    display: inline-block;
    min-width: 0.5em;
    width: -moz-available !important;
    width: -webkit-fill-available;
    max-width: 3em;
    min-height: 0.5em;
    height: -moz-available;
    height: -webkit-fill-available;
    max-height: 3em;
    margin: 0.25em !important;
    background-color: gray;
    cursor: unset !important;
}
/* #endregion */

/* #region Edit Menu */
.classList {
    max-height: 20em;
    margin: 0;
    padding: 0.5em;
    list-style-type: none;
    overflow: scroll;
}
.classList div:has(*) {
    margin-bottom: 1.5em;
}
.classList li {
    display: flex;
    padding: 0.1em 0.2em;
    align-items: center;
    gap: 0.2em;
    border-bottom: solid var(--color-foreground) 1px;
}
.classList li input {
    margin-left: auto;
}
#editMenu {
    position: absolute;
    min-width: 5em;
    min-height: 5em;
    padding: 0.5em;
    border: solid var(--color-edit-border) 5px;
    background-color: var(--color-edit);
    color: var(--color-background);
    z-index: 100;
}
#editMenu > div:first-of-type {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    max-width: 25em;
}
#editMenu > div:first-of-type select,
#editMenu > div:first-of-type input,
#editMenu > div:first-of-type button {
    margin-top: 0.25em;
}
#editMenu hr {
    margin: 0 0.5em;
}
#editMenu:before {
    position: absolute;
    content: "✖";
    width: 21px;
    height: 20px;
    top: -5px;
    left: -26px;
    border-bottom-left-radius: 100vw;
    border-top-left-radius: 100vw;
    border-left: solid var(--color-edit-border) 5px;
    border-top: solid var(--color-edit-border) 5px;
    border-bottom: solid var(--color-edit-border) 5px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    background-color: var(--color-edit);
    color: red;
}
#editMenu:after {
    position: absolute;
    content: "✅";
    width: 21px;
    height: 20px;
    top: -5px;
    right: -26px;
    border-bottom-right-radius: 100vw;
    border-top-right-radius: 100vw;
    border-right: solid var(--color-edit-border) 5px;
    border-top: solid var(--color-edit-border) 5px;
    border-bottom: solid var(--color-edit-border) 5px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    background-color: var(--color-edit);
    color: red;
}
#editMenu option[value=i],
#editMenu option[value=em] {
    font-style: italic;
}
#editMenu option[value=b],
#editMenu option[value=strong] {
    font-weight: bold;
}
#editMenu option[value=sub],
#editMenu option[value=sup],
#editMenu option[value=small] {
    font-size: 0.85em;
}
#editMenu option[value=mark] {
    background-color: #ffff00ff;
}
#editMenu option[value=s] {
    text-decoration: line-through;
}
/* #endregion */

/* #region Overlay */
#overlay {
    display: none;
    position: fixed;
    width: calc(100% - 40vw);
    height: calc(100% - 40vh);
    top: 0;
    left: 0;
    padding: 10vh 7vw 7vw;
    margin: 20vh 20vw;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 10px;
    background-color: #4d4d4dea;
    z-index: 100;
}
#overlay input {
    margin-left: 1em;
}
#overlay span {
    position: fixed;
    top: calc(20vh + 0.5em);
    padding: 0.1em;
    font-size: 3em;
    line-height: 0.75;
    border-radius: 10px;
    cursor: pointer;
}
#overlay span:hover {
    background-color: rgb(161, 159, 255);
    filter: brightness(75%);
}
#overlay span:first-of-type {
    left: calc(20vw + 0.5em);
    color: red;
}
#overlay span:last-of-type {
    right: calc(20vw + 0.5em);
    color: #00ff00;
}
#overlay div {
    width: min-content;
    white-space: nowrap;
}
#overlay div:last-of-type {
    width: initial;
}
#overlay li input {
    margin-left: auto;
}
/* #endregion */


/* #region Break */
.br:before {
    content: '↩';
}
/* #endregion */

/* #region Button */
.button button {
    display: inline-block;
    min-width: 3em;
    min-height: 1.25em;
    padding: 0;
    margin: 0;
    vertical-align: top;
    background-color: #e9e9ed;
    border: 2px solid #717171;
    border-radius: 100vw;
    pointer-events: none;
}
.button {
    width: min-content;
}
.btn-round {
    width: 20px;
    margin: 0 auto;
    border-radius: 10px;
    border: solid gray 1px;
}
#editMenu:has(.btn-round) {
    text-align: center;
}
/* #endregion */

/* #region Container/Hr */
.container {
    min-width: 3em;
    min-height: 3em;
    width: min-content;
    padding: 0.05px;
}
div.container {
    outline: solid 1px #00a800;
}
form.container {
    outline: solid 1px #9f1bdb;
}
p.container {
    outline: solid 1px #da8d00;
}
#ground > div:has(p), #ground > form:has(p), #ground > p:has(p) {
    overflow: auto;
}
#ground .hr:before,
#ground .list:after,
#ground .container:before {
    display: none;
    position: absolute;
    content: "⇱";
    width: 20px;
    height: 20px;
    transform: translate(-5px, -5px);
    border: solid 2px var(--color-background);
    border-radius: 100vw;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    background-color: var(--color-foreground);
    color: var(--color-background);
    cursor: pointer;
    filter: invert(100%);
    z-index: 10;
}
#ground .hr:before {
    display: block;
}
#ground .list:after {
    transform: translate(0.5em, -0.5em);
}
#ground .hr {
    overflow: visible;
}
#ground .list:has(*:hover):after,
#ground .list:hover:after,
#ground .container:has(*:hover):before,
#ground .container:hover:before {
    display: block;
}
/* #endregion */

/* #region Image */
#standard img {
    display: block;
    width: 3em;
    height: 3em;
}
.img {
    width: min-content;
    height: min-content;
}
/* #endregion */

/* #region Input */
#ground .input {
    width: min-content;
}
#ground .input input {
    min-width: 1.25em;
}
/* #endregion */

/* #region Link */
a {
    pointer-events: none;
}
.a {
    display: inline-flex;
}
/* #endregion */

/* #region List */

/* #endregion */

/* #region Text */
.text {
    line-height: normal;
}

/* #endregion */

/* #region Slider */
.switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch input:checked + .slider {
    background-color: #2196F3;
}
.switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/* #endregion */