* {
    --color-background: #131313;
    --color-foreground: white;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 1em;
    height: 100%;
    background-color: var(--color-background);
    color: var(--color-foreground);
}
#classList {
    max-height: 20em;
    margin: 0;
    padding: 0.5em;
    list-style-type: none;
    overflow: scroll;
}
#classList li {
    display: flex;
    height: 1.5em;
    padding: 0 0.2em;
    align-items: center;
    gap: 0.2em;
}
#classList li:nth-child(even) {
    background-color: lightgrey;
}
#classList li input {
    margin-left: auto;
}
#editMenu {
    position: absolute;
    min-width: 5em;
    min-height: 5em;
    padding: 0.5em;
    background-color: rgb(182, 182, 182);
    color: var(--color-background);
    z-index: 100;
}
#editMenu:before {
    position: absolute;
    content: "✖";
    width: 21px;
    height: 20px;
    top: 0;
    left: -22px;
    border-left: solid 2px rgb(182, 182, 182);
    border-bottom-left-radius: 100vw;
    border-top-left-radius: 100vw;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    background-color: rgb(182, 182, 182);
    color: red;
}
#editMenu:after {
    position: absolute;
    content: "✅";
    width: 21px;
    height: 20px;
    top: 0;
    right: -22px;
    border-left: solid 2px rgb(182, 182, 182);
    border-bottom-right-radius: 100vw;
    border-top-right-radius: 100vw;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    background-color: rgb(182, 182, 182);
    color: red;
}
#generateCode {
    position: absolute;
    width: 5em;
    height: 5em;
    right: 1em;
    bottom: 1em;
}
#ground,
#output {
    position: relative;
    width: 100%;
    min-height: 20em;
    padding: 1em;
    border: solid var(--color-foreground) 2px;
    z-index: 0;
}
#ground > .field {
    display: block;
    width: 2.5em !important;
}
#ground *:not(#editMenu):not(#editMenu *):not(:has(*:hover)):hover {
    outline: solid 1px rgb(25, 247, 255);
}
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    height: min-content;
}
#main > *:not(#ground) > * {
    max-width: 4.5em;
    width: min-content;
    margin-top: auto;
    text-align: center;
    cursor: pointer;
}
#presets,
#standard {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75em;
    width: calc(50% - 0.5em);
    height: 100%;
    padding: 1em;
    border: solid 2px var(--color-foreground);
}
#presets > * > *,
#standard > * > * {
    margin: 0 auto 0.25em;
}
.cursor-pointer {
    cursor: pointer;
}
.field {
    display: inline-block;
    min-width: 0.5em;
    width: -moz-available !important;
    width: -webkit-fill-available;
    max-width: 3em;
    min-height: 0.5em;
    height: -moz-available;
    height: -webkit-fill-available;
    max-height: 3em;
    margin: 0.25em !important;
    background-color: gray;
    cursor: unset !important;
}
.noselect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.pointer-events-all {
    pointer-events: all;
}

/* Button */
button:not(#generateCode) {
    display: inline-block;
    vertical-align: top;
    min-width: 3em;
    min-height: 1.25em;
    padding: 0;
    margin: 0;
    background-color: #e9e9ed;
    border: 2px solid #717171;
    border-radius: 100vw;
    pointer-events: none;
}

.button {
    width: min-content;
}

/* Container */
.container {
    width: 3em;
    min-height: 3em;
}
div.container {
    outline: solid 1px #00a800;
}
form.container {
    outline: solid 1px #9f1bdb;
}
p.container {
    outline: solid 1px #da8d00;
}
#ground > div:has(p), #ground > form:has(p), #ground > p:has(p) {
    overflow: auto;
}
#ground .container:before {
    display: none;
    position: absolute;
    content: "⇱";
    width: 20px;
    height: 20px;
    transform: translate(-5px, -5px);
    border: solid 2px rgba(19, 19, 19, 0.5);
    border-radius: 100vw;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    color: var(--color-background);
    cursor: pointer;
}
/*#ground .container:hover:before {
    display: block;
}*/

/* Image */

.img {
    width: min-content;
}

/* Text */

.text {
    line-height: normal;
}

/* Input */

#ground .input {
    width: min-content;
}